set timeout=5
set default=0
insmod all_video

menuentry "NeoOS 0.5.0 - 설치/체험" {
    linux /boot/vmlinuz-lts alpine_dev=cdrom:iso console=tty0
    initrd /boot/initramfs-lts
}
menuentry "NeoOS Installer" {
    linux /boot/vmlinuz-lts console=tty0
    initrd /boot/initramfs-lts
}
